<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css')}}">
{% block title %} {% endblock %}
</head>

<body>
<div class="top-content">
{% if current_user.is_authenticated %}
   <a href="{{url_for('main.mainpage')}}">
   <img src="{{url_for('static', filename='css/image/healthcare2.png')}}">
   </a>
{% else %}
      <img src="{{url_for('static', filename='css/image/healthcare2.png')}}" >
   
{% endif %}
</div>
<header>
      <nav> 
         <ul>
            {% if not current_user.is_authenticated%}
               <li>
                  <a href="{{url_for('auth.login')}}" class="{{ 'active' if request.endpoint == 'auth.login' else '' }}">
                           Sign-In
                  </a>
               </li>

               <li>
                <a href="{{url_for('main.register')}}" class="{{ 'active' if request.endpoint == 'main.register' else '' }}"> New doctor</a>
               </li>
            {%else%}
            
               <li class="signout">
                     <a href="{{url_for('auth.signout')}}">
                           Sign-Out
                     </a>
               </li>
            {% endif %}
         </ul>
      </nav>
</header>
   <div class="flash-meg">
      {% with messages = get_flashed_messages(with_categories=true) %}
         {% if messages %}
            {% for category, message in messages %}
               <div id="flash-message" class ="alert alert-{{category}}">
                  <p class="message-left">{{message}}</p>
               </div>
            {% endfor %}
         {% endif %}
      {% endwith %}
</div>
<script>
   setTimeout(() => {
       const flashMessage = document.getElementById('flash-message');
       if (flashMessage) {
           flashMessage.style.display = 'none';
       }
   }, 4000); 
</script>

<div class="content-body"> 
   {%block body%}
                           
   {% endblock%}
</div>

{% include "includes/footer.html" %}

</body>

</html>